.nav {
    grid-area: n;
    background-color: rgb(129, 206, 221);
    padding: 20px;
    border: 1px solid black;
}

.list{
    margin: 5px;
    font-size: 20px;
    color: black;     
}

.list a {
    text-decoration: none;  
}

.active {
    margin: 5px;
    color : gold;
    font-size: 25px;
}


.listt{
    display: flex;
}

.one{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
}
.one img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

