.post{
  
font-size: 23px;
}

.post img {
  width: 20px;
  margin: 5px;
  border-radius: 50%;
}
.like img{
  width: 150px;
  height: 155px;
  
}
.like{
  margin-left: 5px;
  font-size: 15px;
  display: flex;
  
  
}
.active {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
}

.heart{
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 5px;
  
}

